/* Общие стили */
body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Путь к вашему фоновому изображению */
    background-size: cover;
    background-position: center;
    color: hsl(0, 0%, 100%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #959da6; /* Более темный синий цвет */
    padding: 10px 0;
    text-align: center;
    
}

header h1 {
    margin: 0;
}

.big-photo {
    position: relative;
    color: #fff;
    text-align: center;
    width: 100%; /* Занимает всю доступную ширину */
    margin-top: 0px; /* Уменьшаем верхний отступ */
}

.big-photo .container {
    position: relative;
    max-width: 100%; /* Расширяется на всю ширину блока .big-photo */
    margin: 0 auto;
}

.big-photo img {
    width: 100%; /* Расширяется на всю ширину родительского контейнера */
    height: auto;
    border-radius: 5px; /* Применяем скругление углов, если необходимо */
    

}


.big-photo .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 5px;
    box-sizing: border-box; /* Учитываем внутренние отступы в размере блока */
    width: 90%; /* Занимает 90% ширины родительского блока */
    max-width: 1000px; /* Максимальная ширина для адаптивности */
}

.big-photo .text-overlay h3,
.big-photo .text-overlay p {
    margin: 20px 0; /* Увеличиваем внешний отступ */
    line-height: 1.5; /* Устанавливаем высоту строки */
}

h3 {
    position: relative; /* Необходимо для позиционирования псевдоэлемента */
}

h3::after {
    content: ''; /* Добавляем контент для псевдоэлемента */
    position: absolute; /* Абсолютное позиционирование относительно родительского элемента */
    bottom: -5px; /* Отступ псевдоэлемента от нижнего края */
    left: 0; /* Выравнивание псевдоэлемента по левому краю */
    width: 100%; /* Ширина псевдоэлемента равна ширине родительского элемента */
    border-bottom: 1px solid white; /* Стиль линии (белая линия толщиной 1px) */
}



/* Стили для основного контента */
main {
    padding: 20px 0;
    background-color: #f2f2f2;
}

h2 {
    color: #2d2e31; /* Более темный синий цвет */
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    /* Другие стили карточки */
    background-color: rgba(255, 255, 255, 0.8); /* Прозрачный белый цвет для карточек */
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card img {
    display: block; /* Устанавливаем блочный элемент для изображения */
    margin: 0 auto; /* Устанавливаем автоматичесные отступы по верху и снизу, и центрируем изображение по горизонтали */
    max-width: 100%; /* Ограничиваем максимальную ширину изображения */
    max-height: 100%; /* Ограничиваем максимальную высоту изображения */
    border-radius: 8px 8px 0 0; /* Пример скругления углов */
}

.card h3 {
    color: #2d2e31; /* Более темный синий цвет */
    margin: 10px 0;
    text-align: center;
}

.card p {
    color: #555;
    margin: 10px;
    text-align: center;
}

.card {
    /* Задаем размеры карточки */
    width: 310px; /* Пример ширины */
    height: 400px; /* Пример высоты */
    /* Другие стили карточки */
}


.card a {
    /* Сделаем ссылку полностью занимающей размеры карточки */
    display: block;
    width: 310px; 
    height: 400px;
    text-decoration: none;
}

a {
    text-decoration: none; /* Убираем подчеркивание для всех ссылок */
    color: #000; /* Задаем цвет текста для всех ссылок */
}

#map {
    width: 100%;
    height: 400px;
}

/* Стили для футера */
footer {
    background-color: #959da6; /* Более темный синий цвет */
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: hsl(0, 0%, 100%); /* Устанавливаем начальный цвет текста */
    text-decoration: underline; 
}

footer a:hover {
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    /* Обновление стилей для заголовка */
    header h1 {
        font-size: 24px; /* Уменьшение размера шрифта для заголовка */
    }

    /* Обновление стилей для большого фото */
    .big-photo .text-overlay {
        width: 90%; /* Уменьшение ширины текстового блока */
    }

    /* Обновление стилей для изображений в карточках */
    .card img {
        width: 100%; /* Занимает всю ширину блока */
        height: auto; /* Автоматическая высота */
        border-radius: 0; /* Убираем скругление углов */
    }

    /* Обновление стилей для блока с карточками */
    .cards {
        display: block; /* Показываем карточки одну под другой */
        gap: 20px; /* Расстояние между карточками */
    }

    /* Обновление стилей для ссылок в карточках */
    .card a {
        display: block; /* Показываем ссылку как блочный элемент */
        width: 100%; /* Занимает всю ширину родительского блока */
        height: auto; /* Автоматическая высота */
    }

    .big-photo img {
        width: 100%; /* Занимает всю ширину родительского блока */
        height: auto; /* Автоматический подбор высоты */
        border-radius: 0; /* Убираем скругление углов */
    }
    
    .big-photo img {
        width: 100%; /* Занимает всю ширину родительского блока */
        height: auto; /* Автоматический подбор высоты */
        border-radius: 0; /* Убираем скругление углов */
    }
    
    .cards {
        display: flex;
        flex-direction: column; /* Одна карточка под другой на мобильных устройствах */
        gap: 20px; /* Расстояние между карточками */


    }
    
}
